.rick_card {
  background-color: #35afc7;
  width: 240px; 
  padding-top:10px; 
  border-radius: 7px; 
  border: 1px solid black;

}

.rick_picture {
  border-radius: 7px;
  border: 0.8px solid black;
  height: 220px; 
}

.rick_species {
  margin:0px;
}