.rick_card {
  background-color: #a9d4e8;
  min-height: 300px;
  min-width: 255px;
  padding-top:10px; 
  border-radius: 7px; 
  border: 1px solid black;


}

.rick_picture {
  border-radius: 7px;
  border: 0.8px solid black;
  height: 180px; 
  @media(min-width:768px) {
    height: 220px;
  }
}

.rick_species {
  margin:0px;
}