.rick_list {
  text-align: center;
  list-style: none; 
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  
  @media(min-width:468px) {
    grid-template-columns: 1fr 1fr;
  }
  @media(min-width:768px) {
  grid-template-columns: 1fr 1fr 1fr;
  }
  @media(min-width:1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.link {
   text-decoration: none; 
   color: black; 
 }
