.filters_container {
  padding:20px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.filters_section{
  display: flex;
  flex-direction: column;
}

.filters_divider{
  margin-bottom: 8px;
}

.label {
  color:  #a9d4e8;
}

.radio_label{
  padding-left: 5px;
  margin-bottom: 10px;
}

.input {
  border: 1.5px solid #a9d4e8;
  background-color: inherit;
  color: white;
  margin: 0 15px;
}

.select{
  min-width: 145px;
  margin-right: -6px;
}